<h1>@creature.CreatureId</h1>


<ul>
  <li>Name: @creature.CreatureName</li>
  <li>@creature.CreatureImage</li>
  <li>Origin Culture: @creature.CreatureOriginCulture</li>
  <li>Origin Date: @creature.CreatureOriginDate</li>
  <li>Description: @creature.CreatureDescription</li>
  <li>Taxonomy: @creature.CreatureTaxonomy</li>
  <li>Type: @creature.CreatureType</li>
  <li>Abilities: @creature.CreatureAbility</li>
  <li>Habitat: @creature.CreatureHabitat</li>
  <li>Morality: @creature.CreatureMorality</li>
  <li>Lifespan: @creature.CreatureLifespan</li>
  <li>Weakness: @creature.CreatureWeakness</li>
  <li>Nemesis: @creature.CreatureNemesis</li>
  <li>Related Characters/Creatures: @creature.CreatureRelatedCreature</li>
</ul>