@{
  ViewData["Title"] = "Details";
}

<h1>@Model.CreatureId</h1>

<ul>
  <li>Name: @Model.CreatureName</li>
  <li>@Model.CreatureImage</li>
  <li>Origin Culture: @Model.CreatureOriginCulture</li>
  <li>Origin Date: @Model.CreatureOriginDate</li>
  <li>Description: @Model.CreatureDescription</li>
  <li>Taxonomy: @Model.CreatureTaxonomy</li>
  <li>Type: @Model.CreatureType</li>
  <li>Abilities: @Model.CreatureAbility</li>
  <li>Habitat: @Model.CreatureHabitat</li>
  <li>Morality: @Model.CreatureMorality</li>
  <li>Lifespan: @Model.CreatureLifespan</li>
  <li>Weakness: @Model.CreatureWeakness</li>
  <li>Nemesis: @Model.CreatureNemesis</li>
  <li>Related Characters/Creatures: @Model.CreatureRelatedCreature</li>
</ul>