@{
  Layout = "_Layout";
}

@{
  ViewData["Title"] = "Details";
}

<h1 align="center">@Model.CreatureName</h1>


  <div class="col-md-4 col-md-push-1 text-center" style="background-color: rgba(0,0,0,0.3); border-radius: 25px;">
    <div class="shadow-lg p-12 mb-3 rounded">
    <br>
    <img src="@Model.CreatureImage" alt="@Model.CreatureName">
    <br>
    <br>
    <div class="container"><p>@Model.CreatureDescription</p></div>
    <br>
  </div>
  </div>
  <ul>
  <li>Origin Culture: @Model.CreatureOriginCulture</li>
  <li>Origin Date: @Model.CreatureOriginDate</li>
  <li>Taxonomy: @Model.CreatureTaxonomy</li>
  <li>Type: @Model.CreatureType</li>
  <li>Abilities: @Model.CreatureAbility</li>
  <li>Habitat: @Model.CreatureHabitat</li>
  <li>Morality: @Model.CreatureMorality</li>
  <li>Lifespan: @Model.CreatureLifespan</li>
  <li>Weakness: @Model.CreatureWeakness</li>
  <li>Nemesis: @Model.CreatureNemesis</li>
  <li>Related Characters/Creatures: @Model.CreatureRelatedCreature</li>
</ul>
